body {
    margin: 0px;
    background-color: #fefae0;
}

/* nav bar */
#nav-icons {
    display:flex;
    justify-content: space-around;
    background-color: #fefae0;
    margin: 1rem;
    padding: 20px;
    list-style: none;
}

li {
    color: #283618;
}

a:link {
    text-decoration: solid black;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

/* styling for the main body of the about section */
.description {
    margin:auto;
    padding: 1rem;
    background-color: #DDA15E;
    height: auto;
    width: 75%;

}

#first-line {
    color: #283618;
}

#second-line {
    color: #606C38;
}

#first-line,
#second-line {
    text-align:center;
}

.about-first {
    text-align: center;
}

img {
    height: 300px;
}

.wrapper {
    display: flex;
}

.portfolio-header {
    text-align: center;
}

.portfolio-space {
    background-color: white;
    border: solid black;
    height: 200px;
    width: auto;
    margin: 10px;
}

.portfolio {
    flex-direction: column;
    padding: 15px;
}

.placeholder {
    /* text-align: center;
    margin: auto; */
    text-align: center;
vertical-align: middle;
line-height: 150px;
}